html {
    font-size: 62.5%;
}
body {
    font-family: 'Red Hat Display', sans-serif;
}
p {
    font-size: var(--font-size-p);
}
h1 {
    font-size: var(--font-size-h1);
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
h4 {
    font-size: var(--font-size-h4);
}